$button-default-background-color: transparent;
$button-default-border-color: transparent;
$button-default-color: rgb(102, 102, 102);
$button-default-color-over: #eee;
$button-default-color-pressed: #eee;
$button-default-background-color-disabled: transparent;
$button-default-background-color-focus: transparent;
$button-default-background-color-focus-over: transparent;
$button-default-background-color-focus-pressed: transparent;
$button-default-background-color-over: #00535e;
$button-default-background-color-pressed: #00535e;